#ifndef SECRETS_H
#define SECRETS_H

#define IOT001_WRITE_KEY "replace-me"
#define IOT001_IC_WRITE_KEY "replace-me"
#define IOT002_WRITE_KEY "replace-me"
#define IOT002_IC_WRITE_KEY "replace-me"
#define IOT003_WRITE_KEY "replace-me"
#define IOT003_IC_WRITE_KEY "replace-me"
#define WIFI_SSID "replace-me"
#define WIFI_PASSWORD "replace-me"

#endif
